
        *{
            margin: 0;
            padding: 0;
            font-family:"poppins",sans-serif;
            box-sizing: border-box;
            transition: all .2s linear; 
            text-decoration: none;
            border: none;
        }  
        html{
            font-size: 88.5%;
            overflow-x: hidden; 
            scroll-padding-top: 10rem; 
            scroll-behavior: smooth;
            box-sizing: border-box;
        } 
        body{
            position: relative;
        }
        header{
            position: fixed;
  top:0; left: 0;right: 0;
  background: #fff ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
        } 
        header .logo{
            color:red;
            font-size:25px; 
            font-weight:bold;

        }
        .logo span{
            color:#000
        } 
    .menu{
        display:flex;
       }
       li{
        list-style: none; 
        margin:40px;
       } 
       li:hover{
        color:#ff2e09
        ;
       }
       a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    transition: 0.1s;
}

a:hover{
    color: #ff2e09;
} 
#home{
    margin-top: 110px;
    height:calc(100vh-50px) ;
    padding:0 8%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: relative;
} 
::-webkit-scrollbar{
    width: 8px;
    background-color:transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #ff2e09;

}
.left{
    width: 40%;
}
 h1{
    font-size: 35px;
    margin-bottom: 10px;
}
span{
    color: #ff2e09;
}
.left p{
    margin-bottom: 30px;
    color: #999;
    font-size: 13px;
}
.left a{
    background-color: #ff2e09;
    padding: 10px 20px;
    font-size: 14px;
    color:#ffff;
    transition: 0.5s;
}
.left a:hover{
    background-color: #000;
}
.right{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img{
    width: 100%;
}
#cars{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    text-transform: uppercase;
position: relative;
font-size: 25px;
}
.title::before{
    position: absolute;
left: 10px;
bottom: 0;
content: "";
background-color: #ff2e09;
width: 100%;
height: 5px;
border-radius: 6px;
}
.title::after{
    top: 0;
    left:-10px;
    content: "";
    background-color: #ff2e09;
    width: 100%;
    height: 5px;
    border-radius: 6px;
}
.images{
    margin: 100px auto;
    padding: 0 8%;
}
.images ul{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}
.images li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.665%;
    transition: 0.5s;
    height: 300px;
    width: 28%;
}
.images li div img{
    height: 100%;
    width: 100%;

}
.images li:hover{
    transform: scale(1.1);
    margin: 20px;
}
.images li span{
    color: #000;
    font-size: 18px;

}
#cars li span.prix{
    color: #ff2e09;
    font-weight: bold;
    margin-bottom: 10px;

}
#cars li a{
    background-color: #ff2e09;
    color: #fff;
    padding: 5px 20px;
    font-size: 15px;
}
#services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
.list{
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.service{
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
margin: 1px;
    padding: 20px;

}
.service i{
    font-size: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2e09;
    color: #fff;
    border-radius: 50%;
    margin-bottom: 10px;
}
.service h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.service p{
    font-size: 12px;
}
.service a {
    margin-top: 10px;
    color: #ff2e09;
    padding: 5px 20px;
    border: 1px solid #ff2e09;
    font-size: 12px;
}
#contact{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 12%;
}
.localisation-contact-div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    margin: 100px 0;
    height: 80vh;
}
.localisation{
    width: 49%;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.localisation iframe {
    width: 100%;
    border-radius: 6px;


}
.form-contact{
    width: 49%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 6px;
}
.localisation-contact-div h3{
    margin-bottom: 10px;
    font-size: 18px;
}
.form-contact form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.form-contact form input,textarea{
    border: 1px solid #ccc;
width: 100%;
margin-bottom: 15px;
padding: 5px;
outline: 0;
border-radius: 6px;
font-size: 15px;
resize: none;
}
.form-contact form input[type="submit"]{
    margin-bottom: 0;
    background-color: #ff2e09;
    color:#fff;
    border: 0;

}
footer{
    background-color: #ff2e09;
    text-align: center;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
}





.car {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.car img {
    max-width: 100%;
    height: auto;
}

.car span {
    margin-top: 10px;
}

.car button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.beb {
background-color: #ff2e09; 
border: none; 
color: white; 
padding: 10px 20px; 
text-align: center; 
text-decoration: none; 
display: inline-block; 
font-size: 16px; 
margin: 4px 2px; 
cursor: pointer; 
}

.beb:hover {
background-color:  #ff2e09; 
}

.beb:active {
background-color:   #ff2e09; 
}


body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: scale(0.9);
    animation: login-anim 0.3s ease-in-out forwards;
  }

  @keyframes login-anim {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    70% {
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form-group button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff1606;
    color: #fff;
    cursor: pointer;
  }
  .container {
position: relative; 
height: 100vh; 
}

#background-video {
position: absolute; 
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; 
z-index: -1;
}