<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href={{ asset("Style/style.css") }}>
        <title>services</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <header>
        <div class="logo">  
            <p><span>luxe</span>cars</p> 
        </div>
         <ul class="menu">
      <li> <a href="/pages"> Acceuil</a></li>
      <li> <a href="/proj">Achat</a></li> 
      <li> <a href="/services">Services</a></li>
      <li> <a href="/contact">Contact</a></li>
  </ul> 
    </header>
    <body>
        <h1 class="title">Nos Services</h1>
        <div class="list">
            <div class="service">
                <i class="fa fa-cog fa-spin" style="font-size:24px"></i>
                
                
        <h3>Dépannage</h3>
        <p>Une optimisation automatique et personnalisée de votre véhicule en seulement 3 étapes </p>
        <a href="#" class="read-more"> Lire Plus</a>
            </div>
            <div class="service">
                <i class="fa fa-cog fa-spin" style="font-size:24px"></i>
        <h3>Dépannage</h3>
        <p>La fabrication est de qualité supérieure «Made in Germany». Les marquages ECE et CE sont synonymes de sécurité contrôlée selon les normes internationales </p>
        <a href="#" class="read-more"> Lire Plus</a>
            </div>
            <div class="service">
                <i class="fa fa-cog fa-spin" style="font-size:24px"></i>
        <h3>Dépannage</h3>
        <p>Le PedalBox se raccorde d un tour de main aux capteurs de l’accélérateur et est immédiatement fonctionnel</p>
        <a href="#" class="read-more"> Lire Plus</a>
            </div>
        </div>
    </body>
</html>